# Copyright (c) 2022-2025, AllWorldIT.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to
# deal in the Software without restriction, including without limitation the
# rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
# sell copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
# IN THE SOFTWARE.


# Disallow all forwarding
DisableForwarding yes

# Allow only logins for the rsyncssh group
AllowGroups rsyncssh

# Only allow public key authentication
AuthenticationMethods publickey

# Set client alive interval to 10s
ClientAliveInterval 10

# Only use a ed25519 host key
HostKey /etc/ssh/ssh_host_ed25519_key

# Set QOS to throughput
IPQoS throughput

# Disable keyboard interactive authentication
KbdInteractiveAuthentication no

# Set login grace time to 10s
LoginGraceTime 10

# Use verbose logging
LogLevel VERBOSE

# Max auth tries to 1
MaxAuthTries 1

# Set maximum sessions to 5
MaxSessions 5

# Disable password autehtnication
PasswordAuthentication no

# Disable empty passwords
PermitEmptyPasswords no

# Disable root login
PermitRootLogin no

# Disable TTY allocation
PermitTTY no

# Disable tunneling
PermitTunnel no

# Disable UserRC files
PermitUserRC no

# Disable motd
PrintMotd no

